<a id="backToList" class="waves-effect waves-light btn"><i class="mdi-navigation-arrow-back left"></i>Back</a>	
<table>
	<tr>
		<td>Name</td>
		<td><input type="text" id="name" name="name"></td>
	</tr>
	<tr>
		<td>Email</td>
		<td><input type="text" id="email" name="email"></td>
	</tr>
	<tr>
		<td>
			<button id="clear" class="btn waves-effect waves-light">Clear</button>
		</td>
		<td>
			<button id="saveAdd" class="btn waves-effect waves-light">Save<i class="mdi-content-send right"></i></button>
		</td>
	</tr>
	<tr>
		<td colspan="2"><span id="status"></span></td>
	</tr>
</table>
